.tab-button.active {
    border-color: rgb(59 130 246);
    color: rgb(37 99 235);
    }

.tab-button {
    border-color: transparent;
    color: rgb(107 114 128);
}

.tab-button:hover {
    color: rgb(55 65 81);
    border-color: rgb(209 213 219);
}

@media (prefers-color-scheme: dark) {
.tab-button.active {
    color: rgb(96 165 250);
}

.tab-button {
    color: rgb(156 163 175);
}

.tab-button:hover {
    color: rgb(229 231 235);
}
}

.date-text{
    font-size: 15px;
    padding: 4px;
    color: rgb(156, 163, 175);
}